name: Deploy to AKS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set AKS context
      uses: azure/aks-set-context@v3
      with:
        resource-group: demo-rg
        cluster-name: demo-aks

    - name: Login to ACR
      run: az acr login -n demoacr225

    - name: Deploy to AKS
      uses: azure/k8s-deploy@v4
      with:
        manifests: |
          aks-devops-assignment/k8s/deployment.yaml
          aks-devops-assignment/k8s/service.yaml
          aks-devops-assignment/k8s/ingress.yaml
        images: |
          demoacr225.azurecr.io/web:latest
        namespace: app

